@import "../../scss/variables";
@import "../../scss/mixins";
@import "../../scss/extends";

.companies {
  width: 100vw;

  &__nav-link {
    text-align: center;
    text-decoration: none;
    @extend .flex-center;
  }
}

